:root {
  --color-main: rgb(11, 19, 30);
  --color-secondary: rgb(32, 43, 59);
  --color-ternary: rgb(0, 149, 255);
  --color-four: rgb(46, 60, 82);
  --color-text-light: rgb(147, 153, 162);
  --color-text-main: white;
}

.light-theme {
  --color-main: #d1ccc0;
  --color-secondary: #c7beab;
  --color-ternary: rgb(0, 149, 255);
  --color-four: #e4e0d8;
  --color-text-light: rgb(54, 57, 61);
  --color-text-main: black;
}

/* reset */
* {
  margin: 0;
  padding: 0;
}

img {
  /* background-color: grey; */
}

body {
  margin: 0;
  color: var(--color-text-main);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

  background-color: var(--color-main);
}

#container {
  background-color: var(--color-main);
  display: grid;
  grid-template-areas: "nav nav" "main main";
  grid-template-columns: 65% auto;
  grid-template-rows: min-content;
  gap: 20px;
  padding: 20px;
  width: max(900px, 80%);
  margin: auto;
  min-height: 100vh;
  box-sizing: border-box;
}

/* NAV */

#nav {
  grid-area: nav;
}

.search {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search input {
  padding: 10px 15px;
  width: 60%;
  border-radius: 10px;
}

.search button {
  padding: 5px 15px;
  color: white;
  background-color: var(--color-ternary);
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

/* MAIN */

#main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  background-color: var(--color-secondary);
  padding: 20px 30px;
  border-radius: 10px;
}

.card > h2 {
  color: var(--color-text-light);
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 25px;
}

/* TODAY WEATHER */
.today-weather {
  display: flex;
  padding: 20px 50px;
}

.today-weather__location {
  font-size: 3rem;
}

.today-weather__desc {
  font-size: 1rem;
  margin-bottom: 40px;
  color: var(--color-text-light);
}

.today-weather__temp {
  font-size: 4rem;
  /* font-weight: bold; */
}

.today-weather__icon {
  flex: 1;
  display: flex;
  justify-content: right;
}

.today-weather__icon img {
  width: 200px;
  height: 200px;
}

/* TODAY FORECAST */

.today-forecast__info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(100% / 6), 1fr));
}

.today-forecast__day {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding-right: 10px;
}

.today-forecast__day + .today-forecast__day {
  border-left: 2px solid var(--color-four);
  padding-left: 10px;
}

.today-forecast__icon {
  width: 80%;
}

.today-forecast__temp {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

/* AIR CONDITION */
.air-conditions {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.air-conditions__info {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.air-conditions__element {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.air-conditions__element__title {
  color: var(--color-text-light);
  font-size: 1rem;
  fill: var(--color-text-light);
  display: flex;
  gap: 10px;
}

.air-conditions__element__title svg {
  width: 3ch;
}

.air-conditions__element__title h3 {
  font-weight: bold;
}

.air-conditions__value {
  font-size: 1.8rem;
  margin-left: 35px;
}

/* WEEK FORECAST */
#side {
  grid-area: side;
  display: none;
}

.week-forecast {
  height: 100%;
  box-sizing: border-box;
}
